<div class="home">
  <div class="signup">

    <h1 class="signup__title">Rejestracja</h1>
    {{!-- LOGO --}}
    <div class=" signup__logo logo">
      <a class="logo__link" href="/">
    <p class="logo__content">english</p>
    <img src="/img/logo2.svg" alt="" class="logo__img">
    <p class="logo__content">notebook</p>
    </a>
    </div>
    {{!-- FORM --}}
    <form class="signup__form " action="/users/signup" method="POST">

      <input class="signup__name" type="text" name="name" placeholder="Imię" value="{{validated.name}}">
      {{#if errors}}
      <p class="signup__error">{{errors.name.msg}}</p>
      {{/if}}

      <input class="signup__email" type="email" name="email" placeholder="Email" value="{{validated.email}}">
      {{#if errors}}
      <p class="signup__error">{{errors.email.msg}}</p>
      {{/if}}

      <input class="signup__password" type="password" name="password" placeholder="Hasło">
      {{#if errors}}
      <p class="signup__error">{{errors.password.msg}}</p>
      {{/if}}

      <input class="signup__confirm-password" type="password" name="confirm_password" placeholder="Powtórz hasło">
      {{!-- <p class="signup__error">nie wpisano hasła</p> --}}

      <button class="signup__submit" type="submit">Zarejestruj się</button>

    </form>
    <p class="signup__paragraph">Posiadasz już konto?</p>
    <a class="signin__link" href="/users/signin">Zaloguj się</a>

  </div>

</div>